@import "tailwindcss";

@theme {
  /* Font Tokens */
  --font-league-spartan: "Rubik", sans-serif;
  /* Color Tokens */
  --color-soft-blue: hsl(231, 69%, 60%);
  --color-soft-red: hsl(0, 94%, 66%);
  --color-grayish-blue: hsl(229, 8%, 60%);
  --color-very-dark-blue: hsl(229, 31%, 21%);
}

body {
  font-family: var(--font-league-spartan);
  overflow-x: hidden;
}

@utility container {
  @apply px-6 mx-auto sm:px-12 md:px-16 lg:px-20;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
